<?xml version="1.0" encoding="EUC-JP"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="ja" lang="ja">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=euc-jp" />
<meta http-equiv="Content-Style-Type" content="text/css" />
<meta http-equiv="Content-Script-Type" content="text/javascript" />
<link rel="stylesheet" href="http://parts.blog.livedoor.jp/css/template.css?v=20130404" type="text/css" />
<link rel="stylesheet" href="http://blog.livedoor.jp/enjujp/site.css?_=20130908153220" type="text/css" /><link rel="alternate" type="application/rss+xml" title="RSS" href="http://blog.livedoor.jp/enjujp/index.rdf" />
<link rel="alternate" type="application/atom+xml" title="Atom" href="http://blog.livedoor.jp/enjujp/atom.xml" /><link rel="alternate" type="application/rss+xml" title="RSS - 骨折" href="http://blog.livedoor.jp/enjujp/archives/cat_50007705.xml" /><link rel="openid.server" href="http://auth.livedoor.com/openid/server" /><link rel="openid.delegate" href="http://profile.livedoor.com/enjujp/" />

<meta property="og:type" content="blog" />
<meta property="og:title" content="『日々徒然』" />
<meta property="og:description" content="シャンソン歌手・写真家。じっくりまとめたい時に、blogで楽しんでおります。" />
<meta property="og:url" content="http://blog.livedoor.jp/enjujp/" />
<meta property="og:image" content="http://image.profile.livedoor.jp/icon/enjujp_60.gif" />
<meta property="og:site_name" content="『日々徒然』" />
<meta property="og:locale" content="ja_JP" />
<link rel="alternate" media="handheld" type="application/xhtml+xml" href="http://blog.m.livedoor.jp/enjujp/" />

<title>『日々徒然』 : 骨折</title>
</head>
<body class="default_2008 category"><script type="text/javascript"><!--
var ld_blog_vars = {
  provider_id : '1',
  provider_name : 'livedoor',
  id : '488196',
  name : 'enjujp',
  charset : 'euc-jp',
  url : 'http://blog.livedoor.jp/enjujp/',
  title : '『日々徒然』',
  blog_design: {
      version: 1
  },
  blog_category: {
    id: '142',
    permalink: 'http://blog.livedoor.com/category/142/',
    name: '日記(総合) > こころ',
    is_adult : 0,
    is_gambling : 0,
    hierarchy: [{ id: '1', name: '日記(総合)', permalink: 'http://blog.livedoor.com/category/1/' },{ id: '142', name: 'こころ', permalink: 'http://blog.livedoor.com/category/142/' }]
  },
  current_page : {
    type : 'category',
    category : '50007705', name : '骨折',    page : '1'
  },
  articles : [  ]
};
//-->
</script><div id="analyzer_tags" style="display:none">
<script type="text/javascript" src="http://parts.blog.livedoor.jp/js/c2.js"></script>
<script type="text/javascript">blog_counter('enjujp', 488196, 'http://blog.livedoor.jp/enjujp/')</script>
</div><script type="text/javascript" src="http://parts.blog.livedoor.jp/js/smartphone.js?v=20131007"></script>
<script type="text/javascript" src="http://blog.livedoor.jp/enjujp/settings/header.js"></script><script type="text/javascript" src="http://blog.livedoor.jp/enjujp/settings/ad.js"></script>
<script type="text/javascript">
var palette_src = 'http://parts.blog.livedoor.jp/img/emoji/1/palette.png';
if (typeof IMAGE_CACHE == 'object' && IMAGE_CACHE['emoji_palette']) IMAGE_CACHE['emoji_palette'].src = palette_src;
</script><a name="top"></a>
<!-- ............... Header ............... -->
<!-- Blog Common Header // -->
<!-- // Blog Common Header -->


<!-- ............... Container ............... -->
<div id="container">

<!-- ..... Title ..... -->
<div class="blog-title-outer">
<div class="blog-title-outer-2">
<div class="blog-title-outer-3">
	<h1 id="blog-title"><a href="http://blog.livedoor.jp/enjujp/" title="『日々徒然』 トップへ">『日々徒然』</a></h1>
	<div class="blog-description-outer"><p id="blog-description">シャンソン歌手・写真家。じっくりまとめたい時に、blogで楽しんでおります。</p></div>
</div>
</div>
</div>

<div id="content" class="hfeed">
<!-- ..... MainColumn ..... -->
<div id="main" class="column">
<div class="column-inner">
<div class="column-inner-2">
	<div class="archives-title-outer"><div class="archives-title-outer-2"><div class="archives-title-outer-3">
		<h2 class="archives-title category-name">骨折</h2>
	</div></div></div>



<!-- ArticlesLoop Start -->
<!-- google_ad_section_start -->
<div class="autopagerize_page_element">
</div><div class="autopagerize_insert_before"></div>

<!-- google_ad_section_end -->
<!-- ArticlesLoop End -->


</div>
</div>
</div><!-- mainColumn End -->

<div id="sub" class="column">
<div class="column-inner">
<div class="column-inner-2">
<!-- ..... PluginList A ..... -->




<script type="text/javascript" src="http://parts.blog.livedoor.jp/plugin/ldblog_calendar_plugin.js"></script>
<script type="text/javascript">var calendar_url_pattern_hash_36811='3367761713'</script>
<script type="text/html" id="ldblog_calendar_default_template-36811">
<% month_names = ['', 'January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December']; %>
<% wdays = ['S', 'M', 'T', 'W', 'T', 'F', 'S']; %>
<div class="calendarheadbody"><div class="calendarhead" id="calendarhead-36811">
  &nbsp;&nbsp;<%= month_names[month] %>,<%= year %>&nbsp;&nbsp;
</div></div>
<div class="caltop"></div>
<div class="calbody">
<table cellpadding="0" cellspacing="0" border="0" class="caltbl calendartable">
<tr> 
  <td width="100%" class="caltblwkbg calendarwd">
    <table cellpadding="2" cellspacing="0" width="100%" border="0" class="caltblwk">
      <tr>
      <% for ( var i = 0; i < 7; i++ ) { %>
        <td width="14%" align="center" class="<% if (i == 0) { %>sun<% } else if (i == 6) { %>sat<% } else { %>weekday<% } %>"><span class="calendarweek"><%= wdays[i] %><span></td>
      <% } %>
      </tr>
    </table>
  </td>
</tr>
<tr>
  <td width="100%" class="caltbldaybg">
    <table cellpadding="2" cellspacing="0" width="100%" border="0" class="caltblday">
      <% for ( var i = 0; i < cal.length; i++ ) { %>
      <tr class="<% if (i % 2) { %>even<% } else { %>odd<% } %>">
        <% for ( var j = 0; j < cal[i].length; j++) { %>
        <td width="14%" align="center" class="caloff calendard"><span class="calendar"<% if (cal[i][j] > 0) { %> id="calendar-36811-day-<%= cal[i][j]%>"<% } %>><%= cal[i][j] %></span></td>
        <% } %>
      </tr>
    <% } %>
  </table></td>
</tr>
</table>
</div>
<div class="calbottom"></div>
</script>

<div class="plugin-calendar sidewrapper" id="calendarplugin-36811">
<script type="text/javascript">(function () { var ldcal = new ldBlogCalendarPlugin(36811); ldcal.init(); })();</script>
</div><!-- // plugin-calendar -->

<div class="plugin-monthly sidewrapper" id="plugin-monthly-36812">
<div class="sidetitlebody">
<div class="sidetitle">Archives</div>
</div>
<div class="sidetop"></div>
<div class="side">

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-12.html">2013年12月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-11.html">2013年11月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-10.html">2013年10月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-09.html">2013年09月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-08.html">2013年08月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-07.html">2013年07月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-06.html">2013年06月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-05.html">2013年05月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-03.html">2013年03月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-02.html">2013年02月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2013-01.html">2013年01月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2012-02.html">2012年02月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2012-01.html">2012年01月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2011-09.html">2011年09月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2009-10.html">2009年10月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2009-02.html">2009年02月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2008-12.html">2008年12月</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/2006-06.html">2006年06月</a></div>

</div>
<div class="sidebottom"></div>
</div><!-- // plugin-monthly -->

<div class="plugin-categorize sidewrapper" id="plugin-categorize-36813">
    <div class="sidetitlebody">
        <div class="sidetitle">カテゴリ別アーカイブ</div>
    </div>
    <div class="sidetop"></div>
    <div class="side">

      

    
        
        
        <div class="sidebody category-parent"
             
          ><a href="http://blog.livedoor.jp/enjujp/archives/cat_1214455.html">Thanks For MIWAさん♪ (27)</a>
          
        </div>
        
    
        
        
        <div class="sidebody category-parent"
             
          ><a href="http://blog.livedoor.jp/enjujp/archives/cat_1223669.html">虚弱体質＆医療関係 (9)</a>
          
        </div>
        
    
        
        
        <div class="sidebody category-parent"
             
          ><a href="http://blog.livedoor.jp/enjujp/archives/cat_1247108.html">オススメ (2)</a>
          
        </div>
        
    
        
        
        <div class="sidebody category-parent"
             
          ><a href="http://blog.livedoor.jp/enjujp/archives/cat_1323384.html">それってどうなん？ (5)</a>
          
        </div>
        
    
        
        
        <div class="sidebody category-parent"
             
          ><a href="http://blog.livedoor.jp/enjujp/archives/cat_1344012.html">雑談 (13)</a>
          
        </div>
        
    
        
        
        <div class="sidebody category-parent"
             
          ><a href="http://blog.livedoor.jp/enjujp/archives/cat_1439753.html">社寺巡り＆散策 (4)</a>
          
        </div>
        
    
        
        
        <div class="sidebody category-parent"
             
          ><a href="http://blog.livedoor.jp/enjujp/archives/cat_1491399.html">レビュー (2)</a>
          
        </div>
        
    
        
        
        <div class="sidebody category-parent"
             
          ><a href="http://blog.livedoor.jp/enjujp/archives/cat_50001350.html">写真 (2)</a>
          
        </div>
        
    
        
        
        <div class="sidebody category-parent"
             
          ><a href="http://blog.livedoor.jp/enjujp/archives/cat_50005521.html">美容＆ファッション (25)</a>
          
        </div>
        
    
        
        
    
        
        
    
        
        
    
    

    </div>    
    <div class="sidebottom"></div>
</div><!-- // plugin-categorize -->

<div class="plugin-link sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">リンク集</div>
</div>
<div class="sidetop"></div>
<div class="side">
<div class="sidebody"><a href="http://blog.livedoor.jp/miwa_30/" target="_blank">MIWAのだらだら日記。</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/gretzky6688/" target="_blank">大鵬軒本店</a></div>

<div class="sidebody"><a href="http://plaza.rakuten.co.jp/akinyann/" target="_blank">食洗機（食器洗浄機）お悩み解決＆左肘骨折日記</a></div>

<div class="sidebody"><a href="http://climax-gen.com/" target="_blank">ブルーベリーに魅せられて・ナーセリー倉澤</a></div>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-link -->
<div class="plugin-recent_articles sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">最新記事</div>
</div>
<div class="sidetop"></div>
<div class="side">
<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52168149.html">◎しっかり使っています（服飾雑貨編）◎</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52166688.html">◎使い終わりました（コスメ編）◎</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52162196.html">◎使い終わりました（衛生用品編）◎</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52162118.html">◎使い終わりました（コスメ編）◎</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52162117.html">◎使い終わりました（コスメ編）◎</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52157203.html">◎使い終わりました（美容＆コスメ編）◎</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52155204.html">◎使い終わりました（コスメ編）◎</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52154671.html">◎使い終わりました（アクセサリー編）◎</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52153900.html">◎使い終わりました（コスメ編）◎</a></div>

<div class="sidebody"><a href="http://blog.livedoor.jp/enjujp/archives/52153867.html">◎しっかり使っています（アクセサリー編）◎</a></div>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-recent_articles -->

<div class="plugin-recent_comments sidewrapper" id="recent_comments_61058">
<div class="sidetitlebody">
<div class="sidetitle">最新コメント</div>
</div>
<div class="sidetop"></div>
<div class="side" id="recent_comments_61058_list" data-rows="" data-order="">
<script type="text/html" id="recent_comments_61058_tmpl">
<% for(var i=0,l=comments.length;i<l;i++) {%><% var n=(order==='ASC')?(l-1-i):i; %>
<div class="sidebody">
  <div class="recent-comment">
    <div class="recent-comment-title"><a href="<%=comments[i].permalink%>#comments"><%==comments[n].title%></a></div>    <div class="recent-comment-author"><%==comments[n].author%></div>  </div>
</div>
<% } %>
</script>
</div>
<div class="sidebottom"></div>
<script type="text/javascript" src="http://parts.blog.livedoor.jp/js/recent_comments.js"></script>
<script type="text/javascript">
 var rc = new RecentComments('recent_comments_61058');
 rc.render();
</script>
</div><!-- // plugin-recent_comments -->

<div class="plugin-qr_code sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">QRコード</div>
</div>
<div class="sidetop"></div>
<div class="side">
<div align="center">
<img src="http://chart.apis.google.com/chart?cht=qr&amp;chs=123x123&amp;chl=http%3A%2F%2Fblog.livedoor.jp%2Fenjujp%2F%3F_f%3Dblogjpqr&amp;chld=M"
     width="123"
     height="123"
     border="0"
     alt="QRコード" />
</div>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-qr_code -->

<link rel="stylesheet" type="text/css" href="http://parts.blog.livedoor.jp/css/plugins.css" media="screen,print" />
<div class="plugin-daily_count sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">訪問者数</div>
</div>
<div class="sidetop"></div>
<div class="side"><!-- plugin-content (counter) // -->


<ul class="daily_count type_counter">



</ul>




<p class="daily_count_free_area"></p>
</div><!-- // plugin-content (counter) -->
<div class="sidebottom"></div>
</div><!-- // plugin-daily_count -->
<script type="text/javascript" language="javascript">
<!--
if (typeof(jsonloader) == 'undefined' )
  document.write('<scr'+'ipt type="text/javascript" src="http://parts.blog.livedoor.jp/js/jsonloader.js"></scr'+'ipt>');
-->
</script>

<script type="text/javascript" language="javascript">
<!--
(function(){
  /*------------
       init 
  ------------*/
  var url = 'http://counter2.blog.livedoor.com/c?';
  var blog_name = 'enjujp';
  var blog_id = '488196';
  var ro = 1;
  var type = 'counter';
  var pv_or_uu = '';
  var today_flg = 0;
  var yesterday_flg = 0;
  var total_flg = 0;
  var today_id = 'today_c_68968';
  var yesterday_id = 'yesterday_c_68968';
  var total_id = 'total_c_68968';
  var bar_id = 'bar_68968';
  var bar_color = '#FFCF00';
  var format = 'text';
  var face = 'default';
  var digit = 10;
  var limit = 10;
  var token = 'd6b1e763d6b81df40de8f49cb5253cbcaefb5860';

  /*------------
     function
  ------------*/
  function cb_today(json){
    document.getElementById(today_id).innerHTML = json;
  }

  function cb_yesterday(json){
    document.getElementById(yesterday_id).innerHTML = json;
  }

  function cb_total(json){
    document.getElementById(total_id).innerHTML = json;
  }

  function cb_graph(json){
    var obj = initialize(json);

    /* draw bar */
    var max_length = 90;
    var parts_url = 'http://parts.blog.livedoor.jp';
    var image_object = new Image;
    image_object.src = parts_url + '/img/plugin/daily_count/spacer.gif';

    var html = "";
    for (var i=0;i<obj.date_count.length;i++){
      var len = max_length * (parseInt(obj.date_count[i])/parseInt(obj.max_count));
      var div = '<li><dl class="graph"><dt class="count_date">{label}</dt><dd class="count_image"><img src="{image_src}" width="{width}" height="5" alt="' + unescape('%u8A2A%u554F%u8005%u6570') + '" style="background:{bar_color};" /></dd><dd class="count_value">{count}</dd></dl></li>';
      html +=
        div.replace(/{label}/,obj.date_label[i])
             .replace(/{image_src}/,image_object.src)
               .replace(/{width}/,parseInt(len))
                 .replace(/{bar_color}/,bar_color)
                   .replace(/{count}/,obj.date_count[i]);
    }
    document.getElementById(bar_id).innerHTML = html;

    function initialize(report){
      var limit = '';
      var max_count = 0;
      var date_label = new Array;
      var date_count = new Array;

      var td = new Date;
      var ty = td.getFullYear();
      var tm = td.getMonth() + 1;
      var td = td.getDate();

      for (var i=0;i<limit;i++){
        var date = computeDate(ty,tm,td,-i);
        var y = date.getFullYear();
        var m = date.getMonth() + 1;
        var d = date.getDate();
        date_label.push(toLabel(y,m,d));
        if (m < 10) m = "0"+m;
        if (d < 10) d = "0"+d;
        var c = report[[y,m,d].join("-")] || 0;
        date_count.push(c);
        if (max_count < parseInt(c)) max_count = parseInt(c);
      }

      return {
        date_count  : date_count,
        date_label  : date_label,
        max_count : max_count
      };
    }

    function toLabel(y,m,d){
      // var tmp = "0"+d;
      // d = tmp.slice(-2);
      // tmp = "0"+m;
      // m = tmp.slice(-2);
      return m+"/"+d;
    }

    function computeDate(year, month, day, addDays) {
      var dt = new Date(year, month - 1, day);
      var baseSec = dt.getTime();
      var addSec = addDays * 24 * 60 * 60 * 1000;
      var targetSec = baseSec + addSec;
      dt.setTime(targetSec);
      return dt;
    }
  }

  function toQuery(o){
    var a = new Array;
    for(var k in o)
      if(o.hasOwnProperty(k))
        a.push([k,encodeURIComponent(o[k])].join('='));
    return a.join('&');
  }

  /*------------
       main
  ------------*/
  if( type == 'counter' ){
      if(today_flg){
        if(format == 'text'){
          var o = {
            noCache: (new Date()).getTime(),
            ro     : ro,
            name   : blog_name,
            id     : blog_id,
            mode   : 'daily',
            token  : token,
            pv_or_uu: pv_or_uu,
            date   : 'today',
            output : 'json'
          }
          jsonloader.load(url+toQuery(o)+'&callback={callback}',cb_today);
        }
        if (format == 'image'){
          var img = document.createElement('img');
          var o = {
              ro     : ro,
              name   : blog_name,
              id     : blog_id,
              output : 'image',
              mode   : 'daily',
              token  : token,
              pv_or_uu: pv_or_uu,
              date   : 'today',
              face   : face,
              nod    : digit
          }
          img.src = url+toQuery(o);
          document.getElementById(today_id).appendChild(img);
        }
      }
      if(yesterday_flg){
        if(format == 'text'){
          var o = {
            noCache: (new Date()).getTime(),
            ro     : ro,
            name   : blog_name,
            id     : blog_id,
            mode   : 'daily',
            token  : token,
            pv_or_uu: pv_or_uu,
            date   : 'yesterday',
            output : 'json'
          }
          jsonloader.load(url+toQuery(o)+'&callback={callback}',cb_yesterday);
        }
        if (format == 'image'){
          var img = document.createElement('img');
          var o = {
              ro     : ro,
              name   : blog_name,
              id     : blog_id,
              output : 'image',
              mode   : 'daily',
              token  : token,
              pv_or_uu: pv_or_uu,
              date   : 'yesterday',
              face   : face,
              nod    : digit
          }
          img.src = url+toQuery(o);
          document.getElementById(yesterday_id).appendChild(img);
        }
      }
      if(total_flg){
        if(format == 'text'){
          var o = {
            noCache: (new Date()).getTime(),
            ro     : ro,
            name   : blog_name,
            id     : blog_id,
            token  : token,
            pv_or_uu: pv_or_uu,
            output : 'json'
          }
          jsonloader.load(url+toQuery(o)+'&callback={callback}',cb_total);
        }
        if (format == 'image'){
          var img = document.createElement('img');
          var o = {
              ro     : ro,
              name   : blog_name,
              id     : blog_id,
              token  : token,
              pv_or_uu: pv_or_uu,
              output : 'image',
              face   : face,
              nod    : digit
          }
          img.src = url+toQuery(o);
          document.getElementById(total_id).appendChild(img);
        }
      }
  }
  if( type == 'graph' ){
    var o = {
      noCache: (new Date()).getTime(),
      ro     : ro,
      name   : blog_name,
      id     : blog_id,
      mode   : 'report',
      token  : token,
      pv_or_uu: pv_or_uu,
      output : 'json',
      limit  : limit
    }
    jsonloader.load(url+toQuery(o)+'&callback={callback}',cb_graph);
  }
})();
-->
</script>

<script type="text/javascript" src="http://portal.profile.livedoor.com/js/livedoor_profile_blog_plugin.js"></script>
<div class="plugin-profile2 sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">livedoor プロフィール</div>
</div>
<div class="sidetop"></div>
<div class="side">
<script>
livedoorProfileBlogPlugin.write({
    'livedoor_id': "enjujp",
    'type': "compact",
    'width':  150,
    'height': 70,
    'img_size': '60',
    'img': 1,
    'name': 1,
    'intro': 1,
    'icon': 1,
    'site': 1, 'color': "333333", 'link': "0000ff", 'border': "969999", 'bgcolor': "ffffff"
});
</script>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-profile2 -->
<script type="text/javascript" src="http://parts.blog.livedoor.jp/plugin/ldblog_rss_plugin.js"></script>
<div class="plugin-rss sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle"></div>
</div>
<div class="sidetop"></div>
<div class="side" id="ldb-rss-159455-body">
</div>
<div class="sidebottom"></div>
</div>
<script type="text/javascript">new ldBlogRssPlugin('', '', '', 'ldb-rss-159455');</script>
<!-- // plugin-rss -->


<div class="plugin-memo sidewrapper">
<div class="sidetitlebody">
<div class="sidetitle">Twitter</div>
</div>
<div class="sidetop"></div>
<div class="side">
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script>
new TWTR.Widget({
  version: 2,
  type: 'profile',
  rpp: 5,
  interval: 6000,
  width: 'auto',
  height: 300,
  theme: {
    shell: {
      background: '#333333',
      color: '#ffffff'
    },
    tweets: {
      background: '#000000',
      color: '#ffffff',
      links: '#4aed05'
    }
  },
  features: {
    scrollbar: false,
    loop: false,
    live: false,
    hashtags: true,
    timestamp: true,
    avatars: false,
    behavior: 'all'
  }
}).render().setUser('MinaChanson').start();
</script>
</div>
<div class="sidebottom"></div>
</div><!-- // plugin-memo -->






</div>
</div>
</div><!-- subColumn End -->

<div id="extra" class="column"> 
<div class="column-inner">
<div class="column-inner-2">
<!-- ..... PluginList B ..... -->




 







<ul id="ld-services">
<li id="blog-powered"><a href="http://blog.livedoor.com/"><img src="http://parts.blog.livedoor.jp/img/usr/cmn/logo_blog.png" width="114" height="24" alt="ライブドアブログ" /></a></li>
</ul>

</div>
</div>
</div><!-- extraColumn End -->

</div><!-- content End -->
</div><!-- container End -->

<!-- ................ Footer .................. -->
<div class="footer-outer">
<div class="footer-outer-2">
<!-- Blog Common Footer // --><div id="footer"><p>Powered by <a href="http://blog.livedoor.com/" title="ライブドアブログ">ライブドアブログ</a></p></div><!-- // Blog Common Footer -->
</div>
</div>

<!-- Add Body Tag // --><script type="text/javascript">
(function(){
  var traq = document.createElement('script'); traq.type = 'text/javascript'; traq.async = true;
  traq.src = 'http://t.blog.livedoor.jp/u.js';
  var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(traq, s);
})();
</script>
<noscript>
<img src="http://t.blog.livedoor.jp/u.gif" alt="traq">
</noscript>
<!-- // Add Body Tag -->

</body>
</html>